.card-header{
  background-color: #377dff !important;
  color: #fff;
}
.btn-secondary {
  color:#fff;
  background-color:#377dff;
  border-color:#377dff;
}
.text-primary {
  color:#fff;
}
.online{
	color:#0F0;
	font-size:12px;
}
.offline{
	color:#F00;
	font-size:12px;
}
small, .small {
  font-size: 60%;
  font-weight: 400;
}
